<table class="table is-1">
  <thead>
      <th>Game</th>
      <th><%= link_to 'Genre', genre_index_path %></th>
      <th><%= link_to 'Publisher', publisher_index_path %></th>
      <th>Platform</th>
      <th><%= link_to 'Developer', developer_index_path %></th>
      <th>Release Date</th>
      <th>Region</th>
      <th>Sales</th>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.game_name, game %></td>
        <td><%= link_to game.genre.genre_name, game.genre %></td>
          <% game.game_publishers.each do |game_pub| %>
            <td><%= game_pub.publisher.pub_name %></td>
            <% game_pub.game_platforms.each do |game_plat| %>
              <td><%= game_plat.platform.platform_name %></td>
              <td><%= game.game_dev %></td>
              <td><%= game_plat.release_year %></td>
              <% game_plat.region_sales.each do |region| %>
                <td><%= region.region.region_name %></td>
                <td <% if region.num_sales.to_f >= 100 %> style="background-color:lime" <% end %>>$<%= region.num_sales %></td>
              <% end %>
            <% end %>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>





